In [22]:
import pandas as pd

In [81]:
labs = pd.read_csv('../../data/labs.csv')
first_diag = pd.read_csv('../../data/first_diagnosis.csv')

In [89]:
merged = labs.merge(first_diag[['Patient', 'EntryDate']], on='Patient', how='left', suffixes=('', '_diag'))

In [90]:
merged['CKD'] = merged['EntryDate_diag'].notna()

In [91]:
merged

,Patient,EntryDate,Analyte,ValueNumber,ValueText,Unit,UnderLower,OverUpper,EntryDate_diag,CKD
0,1175090,2020-05-26,CKD-EPI,2.16,NaN,"ml/s/1,73 m2",False,False,NaN,False
1,1175090,2024-05-07,CKD-EPI,1.89,NaN,"ml/s/1,73 m2",False,False,NaN,False
2,1175090,2020-05-26,s_kreatinin,73.10,NaN,µmol/l,False,False,NaN,False
3,1175090,2024-05-07,s_kreatinin,84.30,NaN,µmol/l,False,False,NaN,False
4,1175090,2024-05-07,UACR,0.40,NaN,g/mol,False,False,NaN,False
...,...,...,...,...,...,...,...,...,...,...
247402,1522890,2025-03-06,CKD-EPI,0.07,NaN,"ml/s/1,73 m2",False,False,2025-03-03,True
247403,1522890,2025-03-03,s_kreatinin,1077.70,NaN,µmol/l,False,False,2025-03-03,True
247404,1522890,2025-03-06,s_kreatinin,890.30,NaN,µmol/l,False,False,2025-03-03,True
247405,1487910,2025-03-04,CKD-EPI,0.15,NaN,"ml/s/1,73 m2",False,False,2025-03-04,True
247406,1487910,2025-03-04,s_kreatinin,526.90,NaN,µmol/l,False,False,2025-03-04,True

In [92]:
filtered_labs = merged[(merged['EntryDate'] < merged['EntryDate_diag']) | merged['EntryDate_diag'].isna()]

In [94]:
filtered_labs[filtered_labs['CKD'] == True]

,Patient,EntryDate,Analyte,ValueNumber,ValueText,Unit,UnderLower,OverUpper,EntryDate_diag,CKD
295,5710,2014-01-02,CKD-EPI,1.28,NaN,ml/s/spt,False,False,2014-01-16,True
296,5710,2014-01-07,CKD-EPI,1.22,NaN,ml/s/spt,False,False,2014-01-16,True
589,5710,2014-01-02,s_kreatinin,79.50,NaN,µmol/l,False,False,2014-01-16,True
590,5710,2014-01-07,s_kreatinin,82.80,NaN,µmol/l,False,False,2014-01-16,True
897,5070,2014-01-06,CKD-EPI,0.55,NaN,ml/s/spt,False,False,2018-05-30,True
...,...,...,...,...,...,...,...,...,...,...
246875,1518430,2024-11-28,s_kreatinin,78.70,NaN,µmol/l,False,False,2025-02-05,True
246876,1518430,2024-12-10,s_kreatinin,67.40,NaN,µmol/l,False,False,2025-02-05,True
246877,1518430,2025-01-16,s_kreatinin,63.70,NaN,µmol/l,False,False,2025-02-05,True
246878,1518430,2025-01-17,s_kreatinin,72.80,NaN,µmol/l,False,False,2025-02-05,True
246884,1518430,2025-01-17,s_kreatinin,96.70,NaN,µmol/l,False,False,2025-02-05,True

In [95]:
filtered_labs.sample(5)

,Patient,EntryDate,Analyte,ValueNumber,ValueText,Unit,UnderLower,OverUpper,EntryDate_diag,CKD
115670,1238270,2021-12-16,s_kreatinin,91.50,NaN,µmol/l,False,False,NaN,False
177367,1319810,2020-02-21,CKD-EPI,1.43,NaN,"ml/s/1,73 m2",False,False,2024-06-13,True
207631,1341240,2023-10-25,CKD-EPI,0.80,NaN,"ml/s/1,73 m2",False,False,NaN,False
171827,1178270,2015-07-26,s_kreatinin,546.40,NaN,µmol/l,False,False,2018-06-07,True
67443,106580,2016-10-24,s_kreatinin,110.20,NaN,µmol/l,False,False,NaN,False

In [97]:
filtered_labs = filtered_labs.drop(columns=['EntryDate_diag'])

In [101]:
filtered_labs.sample(10)

,Patient,EntryDate,Analyte,ValueNumber,ValueText,Unit,UnderLower,OverUpper,CKD
90461,59070,2020-10-20,s_kreatinin,89.90,NaN,µmol/l,False,False,False
215495,1275170,2024-07-03,CKD-EPI,0.15,NaN,"ml/s/1,73 m2",False,False,True
141569,1266010,2016-09-26,s_kreatinin,99.20,NaN,µmol/l,False,False,False
196611,1343900,2020-10-28,CKD-EPI,0.33,NaN,"ml/s/1,73 m2",False,False,True
180790,1326570,2020-08-18,s_kreatinin,63.70,NaN,µmol/l,False,False,False
20794,104360,2014-08-20,s_kreatinin,97.30,NaN,µmol/l,False,False,False
221317,1480060,2023-03-09,CKD-EPI,1.25,NaN,"ml/s/1,73 m2",False,False,False
209273,26050,2023-06-28,CKD-EPI,1.17,NaN,"ml/s/1,73 m2",False,False,False
242171,1334740,2020-03-04,CKD-EPI,1.77,NaN,"ml/s/1,73 m2",False,False,False
157614,1295980,2019-08-23,s_kreatinin,65.10,NaN,µmol/l,False,False,False

In [112]:
filtered_labs = filtered_labs.sort_values(by=['Patient', 'EntryDate'])

In [113]:
filtered_labs.loc[100:110]

,Patient,EntryDate,Analyte,ValueNumber,ValueText,Unit,UnderLower,OverUpper,CKD
100,143480,2021-10-13,s_kreatinin,73.50,NaN,µmol/l,False,False,False
74,143480,2021-10-13,CKD-EPI,1.21,NaN,"ml/s/1,73 m2",False,False,False
101,143480,2022-03-31,s_kreatinin,68.40,NaN,µmol/l,False,False,False
75,143480,2022-03-31,CKD-EPI,1.32,NaN,"ml/s/1,73 m2",False,False,False
102,143480,2022-08-19,s_kreatinin,73.50,NaN,µmol/l,False,False,False
76,143480,2022-08-19,CKD-EPI,1.21,NaN,"ml/s/1,73 m2",False,False,False
103,143480,2022-10-13,s_kreatinin,73.10,NaN,µmol/l,False,False,False
77,143480,2022-10-13,CKD-EPI,1.21,NaN,"ml/s/1,73 m2",False,False,False
104,143480,2023-04-20,s_kreatinin,78.50,NaN,µmol/l,False,False,False
78,143480,2023-04-20,CKD-EPI,1.11,NaN,"ml/s/1,73 m2",False,False,False
105,143480,2023-10-23,s_kreatinin,67.10,NaN,µmol/l,False,False,False
79,143480,2023-10-23,CKD-EPI,1.34,NaN,"ml/s/1,73 m2",False,False,False
106,143480,2024-01-25,s_kreatinin,65.70,NaN,µmol/l,False,False,False
80,143480,2024-01-25,CKD-EPI,1.37,NaN,"ml/s/1,73 m2",False,False,False
107,143480,2024-03-08,s_kreatinin,71.50,NaN,µmol/l,False,False,False
81,143480,2024-03-08,CKD-EPI,1.23,NaN,"ml/s/1,73 m2",False,False,False
108,143480,2024-04-23,s_kreatinin,74.50,NaN,µmol/l,False,False,False
82,143480,2024-04-23,CKD-EPI,1.17,NaN,"ml/s/1,73 m2",False,False,False
109,143480,2024-10-24,s_kreatinin,73.20,NaN,µmol/l,False,False,False
83,143480,2024-10-24,CKD-EPI,1.19,NaN,"ml/s/1,73 m2",False,False,False
110,143480,2025-03-03,s_kreatinin,70.90,NaN,µmol/l,False,False,False

In [115]:
filtered_labs.to_csv("../../data/filtered_labs_full.csv", index=False)