In [8]:
%load_ext autoreload
%autoreload 2
from functions import *
import os
from vectorification import *
import pandas as pd
from sentence_transformers import SentenceTransformer
import numpy as np
from pathlib import Path

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
sentences = ["This is man", "This is woman", "This is cat", "This is dog"]

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')
embeddings = model.encode(sentences)
embeddings = np.array(embeddings)
cross_embeddings_dot = np.dot(embeddings, embeddings.T)
print(cross_embeddings_dot)

[[0.9999999  0.61133766 0.56484467 0.5392823 ]
 [0.61133766 1.         0.57546055 0.56037086]
 [0.56484467 0.57546055 1.         0.7535418 ]
 [0.5392823  0.56037086 0.7535418  1.        ]]

In [6]:
sample_patients = (1211040,1180770,1175090,97360,1194490,1522810)
all_patients_ids = PATIENTS.Patient
print("Number of patients:", len(all_patients_ids))

for p in sample_patients:
    print("PATIENT", p)
    patient = get_patient_data(p)
    for key in patient.keys():
        print(key, patient[key])

Number of patients: 16097
PATIENT 1211040
labs Empty DataFrame
Columns: [Patient, EntryDate, Analyte, ValueNumber, ValueText, Unit, UnderLower, OverUpper]
Index: []
reports    Patient  ReportId  ReportType   EntryDate Clinic           Unit
0  1211040   1853949  Outpatient  2015-06-18    ULM  IKEM.ULM.IPAM
transplantations Empty DataFrame
Columns: [Patient, EntryDate, Organs, kidney, heart, liver, pancreas, islets, veins, uterus, small_intestine]
Index: []
patients       Unnamed: 0  Patient DateOfBirth Sex
5582        5582  1211040  1958-09-04   M
PATIENT 1180770
labs Empty DataFrame
Columns: [Patient, EntryDate, Analyte, ValueNumber, ValueText, Unit, UnderLower, OverUpper]
Index: []
reports    Patient  ReportId  ReportType   EntryDate Clinic           Unit
1  1180770   2062135  Outpatient  2014-01-15    ULM  IKEM.ULM.IPAM
2  1180770   2831558  Outpatient  2015-03-10    ULM  IKEM.ULM.IPAM
3  1180770  12475598  Outpatient  2024-08-15    ULM  IKEM.ULM.IPAM
transplantations Empty DataFrame
Columns: [Patient, EntryDate, Organs, kidney, heart, liver, pancreas, islets, veins, uterus, small_intestine]
Index: []
patients       Unnamed: 0  Patient DateOfBirth Sex
4731        4731  1180770  1984-05-28   M
PATIENT 1175090
labs    Patient   EntryDate      Analyte  ValueNumber ValueText          Unit  \
0  1175090  2020-05-26      CKD-EPI         2.16       NaN  ml/s/1,73 m2
1  1175090  2024-05-07      CKD-EPI         1.89       NaN  ml/s/1,73 m2
2  1175090  2020-05-26  s_kreatinin        73.10       NaN        µmol/l
3  1175090  2024-05-07  s_kreatinin        84.30       NaN        µmol/l
4  1175090  2024-05-07         UACR         0.40       NaN         g/mol

   UnderLower  OverUpper
0       False      False
1       False      False
2       False      False
3       False      False
4       False      False
reports     Patient  ReportId  ReportType   EntryDate Clinic           Unit
4   1175090   2067010  Outpatient  2014-01-09    ULM  IKEM.ULM.IPAM
5   1175090   2383781  Outpatient  2014-06-19    ULM  IKEM.ULM.IPAM
6   1175090   2525487  Outpatient  2014-09-25    ULM  IKEM.ULM.IPAM
7   1175090   8638298  Outpatient  2020-05-26    ULM  IKEM.ULM.IPAM
8   1175090   8828004  Outpatient  2020-06-18    ULM  IKEM.ULM.IPAM
9   1175090  12307214  Outpatient  2024-05-27     KD   IKEM.KD.KDAO
10  1175090  12333113  Outpatient  2024-06-04    PKR  IKEM.PKR.KRAM
11  1175090  12495427  Outpatient  2024-08-26     KD   IKEM.KD.KDAO
12  1175090  12826948  Outpatient  2024-12-09     KD   IKEM.KD.KDAO
transplantations Empty DataFrame
Columns: [Patient, EntryDate, Organs, kidney, heart, liver, pancreas, islets, veins, uterus, small_intestine]
Index: []
patients       Unnamed: 0  Patient DateOfBirth Sex
4599        4599  1175090  2003-04-03   M
PATIENT 97360
labs     Patient   EntryDate  Analyte  ValueNumber ValueText      Unit  UnderLower  \
5     97360  2016-08-06  CKD-EPI        1.780       NaN  ml/s/spt       False
6     97360  2016-08-08  CKD-EPI        1.770       NaN  ml/s/spt       False
7     97360  2016-08-12  CKD-EPI        1.720       NaN  ml/s/spt       False
8     97360  2016-08-13  CKD-EPI        1.750       NaN  ml/s/spt       False
9     97360  2016-08-15  CKD-EPI        1.800       NaN  ml/s/spt       False
..      ...         ...      ...          ...       ...       ...         ...
65    97360  2019-08-19     UPCR      500.760       NaN     g/mol       False
66    97360  2020-09-02     UPCR      674.600       NaN     g/mol       False
67    97360  2018-11-30       PU        1.340       NaN       g/l       False
68    97360  2019-08-19       PU        0.656       NaN       g/l       False
69    97360  2020-09-02       PU        1.565       NaN       g/l       False

    OverUpper
5       False
6       False
7       False
8       False
9       False
..        ...
65      False
66      False
67      False
68      False
69      False

[65 rows x 8 columns]
reports     Patient  ReportId  ReportType   EntryDate Clinic          Unit
13    97360   2088068  Outpatient  2014-01-06     KD  IKEM.KD.KDAM
14    97360   2182145  Outpatient  2014-02-20     KD  IKEM.KD.KDAM
15    97360   2211935  Outpatient  2014-03-12     KD  IKEM.KD.KDAM
16    97360   2344317  Outpatient  2014-06-05     KD  IKEM.KD.ENAM
17    97360   2389473  Outpatient  2014-06-24     KD  IKEM.KD.KDAM
..      ...       ...         ...         ...    ...           ...
84    97360   3747269   Admission  2016-08-05     KD  IKEM.KD.KDIA
85    97360   3804824   Admission  2016-09-12     KD  IKEM.KD.KDIA
86    97360   3817107   Admission  2016-09-19     KD  IKEM.KD.KDIA
87    97360   3876838   Admission  2016-10-17     KD  IKEM.KD.KDIA
88    97360  11516760   Admission  2023-06-26     KK    IKEM.KK.AP

[76 rows x 6 columns]
transplantations Empty DataFrame
Columns: [Patient, EntryDate, Organs, kidney, heart, liver, pancreas, islets, veins, uterus, small_intestine]
Index: []
patients       Unnamed: 0  Patient DateOfBirth Sex
1815        1815    97360  1963-05-01   M
PATIENT 1194490
labs       Patient   EntryDate  Analyte  ValueNumber ValueText      Unit  \
1845  1194490  2014-01-03  CKD-EPI        0.300       NaN  ml/s/spt
1846  1194490  2014-01-24  CKD-EPI        0.270       NaN  ml/s/spt
1847  1194490  2014-02-26  CKD-EPI        0.260       NaN  ml/s/spt
1848  1194490  2014-03-28  CKD-EPI        0.270       NaN  ml/s/spt
1849  1194490  2014-04-30  CKD-EPI        0.250       NaN  ml/s/spt
...       ...         ...      ...          ...       ...       ...
2220  1194490  2017-01-13       PU        1.371       NaN       g/l
2221  1194490  2019-04-17       PU        0.521       NaN       g/l
2222  1194490  2019-04-24       PU        0.547       NaN       g/l
2223  1194490  2019-05-06       PU        0.713       NaN       g/l
2224  1194490  2019-09-25       PU          NaN    <0.068       g/l

      UnderLower  OverUpper
1845       False      False
1846       False      False
1847       False      False
1848       False      False
1849       False      False
...          ...        ...
2220       False      False
2221       False      False
2222       False      False
2223       False      False
2224       False      False

[380 rows x 8 columns]
reports       Patient  ReportId  ReportType   EntryDate Clinic          Unit
1060  1194490   2099036  Outpatient  2014-01-03     KN  IKEM.KN.KNAM
1061  1194490   2136356  Outpatient  2014-01-24     KN  IKEM.KN.KNAM
1062  1194490   2189470  Outpatient  2014-02-26     KN  IKEM.KN.KNAM
1063  1194490   2242301  Outpatient  2014-03-28     KN  IKEM.KN.KNAM
1064  1194490   2300728  Outpatient  2014-04-30     KN  IKEM.KN.KNAM
...       ...       ...         ...         ...    ...           ...
1141  1194490   7958555   Admission  2019-05-21     KN  IKEM.KN.KNIP
1142  1194490   7958605   Admission  2019-05-21     KK   IKEM.KK.OIP
1143  1194490   7963647   Admission  2019-05-23     KN  IKEM.KN.KNIP
1144  1194490   8003364   Admission  2019-06-11     KN  IKEM.KN.KNIA
1145  1194490   8186418   Admission  2019-09-18     KN  IKEM.KN.KNIA

[86 rows x 6 columns]
transplantations    Patient   EntryDate   Organs  kidney  heart  liver  pancreas  islets  \
1  1194490  2019-02-05  ledvina       1      0      0         0       0

   veins  uterus  small_intestine
1      0       0                0
patients       Unnamed: 0  Patient DateOfBirth Sex
5093        5093  1194490  1953-10-23   F
PATIENT 1522810
labs         Patient   EntryDate      Analyte  ValueNumber ValueText          Unit  \
247331  1522810  2025-02-21      CKD-EPI         1.51       NaN  ml/s/1,73 m2
247332  1522810  2025-02-23      CKD-EPI         1.66       NaN  ml/s/1,73 m2
247333  1522810  2025-02-24      CKD-EPI         1.68       NaN  ml/s/1,73 m2
247334  1522810  2025-02-22      CKD-EPI         1.75       NaN  ml/s/1,73 m2
247335  1522810  2025-02-25      CKD-EPI         1.54       NaN  ml/s/1,73 m2
247336  1522810  2025-02-26      CKD-EPI         1.81       NaN  ml/s/1,73 m2
247337  1522810  2025-02-28      CKD-EPI         1.56       NaN  ml/s/1,73 m2
247338  1522810  2025-03-03      CKD-EPI         1.73       NaN  ml/s/1,73 m2
247339  1522810  2025-03-05      CKD-EPI         1.44       NaN  ml/s/1,73 m2
247340  1522810  2025-03-07      CKD-EPI         1.60       NaN  ml/s/1,73 m2
247341  1522810  2025-02-21  s_kreatinin        88.30       NaN        µmol/l
247342  1522810  2025-02-23  s_kreatinin        81.50       NaN        µmol/l
247343  1522810  2025-02-24  s_kreatinin        80.70       NaN        µmol/l
247344  1522810  2025-02-22  s_kreatinin        74.70       NaN        µmol/l
247345  1522810  2025-02-25  s_kreatinin        86.60       NaN        µmol/l
247346  1522810  2025-02-26  s_kreatinin        69.00       NaN        µmol/l
247347  1522810  2025-02-28  s_kreatinin        85.80       NaN        µmol/l
247348  1522810  2025-03-03  s_kreatinin        77.20       NaN        µmol/l
247349  1522810  2025-03-05  s_kreatinin        91.50       NaN        µmol/l
247350  1522810  2025-03-07  s_kreatinin        84.00       NaN        µmol/l

        UnderLower  OverUpper
247331       False      False
247332       False      False
247333       False      False
247334       False      False
247335       False      False
247336       False      False
247337       False      False
247338       False      False
247339       False      False
247340       False      False
247341       False      False
247342       False      False
247343       False      False
247344       False      False
247345       False      False
247346       False      False
247347       False      False
247348       False      False
247349       False      False
247350       False      False
reports         Patient  ReportId ReportType   EntryDate Clinic        Unit
170558  1522810  12996141  Admission  2025-02-21     KK  IKEM.KK.AP
170559  1522810  12996162  Admission  2025-02-21     KK  IKEM.KK.AP
transplantations Empty DataFrame
Columns: [Patient, EntryDate, Organs, kidney, heart, liver, pancreas, islets, veins, uterus, small_intestine]
Index: []
patients        Unnamed: 0  Patient DateOfBirth Sex
16092       16092  1522810  1979-09-10   M

In [57]:
# print(LABS.groupby("Patient")['Patient'].count().mean())
# print(MEDS.groupby("Patient")['Patient'].count().mean())
for table,name in zip(ALL_TABLES,TABLE_NAMES):
    print(name)
    print(len(table['Patient'].unique()))
    print(table.groupby("Patient")['Patient'].count().mean())
    print(table.groupby("Patient")['Patient'].count().max())
    print(table.groupby("Patient")['Patient'].count().min())

labs
11547
21.42608469732398
579
1
medications
11014
64.34919193753404
3175
1
reports
16097
10.596757159719202
263
1
transplantations
490
1.063265306122449
3
1
patients
16097
1.0
1
1
diagnoses
16097
48.115735851400885
2978
1

In [10]:
create_timeline_from_patient_data(get_patient_data(97360))

,Patient,EntryDate,Analyte,ValueNumber,ValueText,Unit,UnderLower,OverUpper
55,97360,2014-06-17,UACR,2.60,NaN,g/mol,False,False
31,97360,2014-06-17,s_kreatinin,77.00,NaN,µmol/l,False,False
56,97360,2015-06-30,UACR,NaN,nelze hodnotit,NaN,True,False
32,97360,2015-06-30,s_kreatinin,78.60,NaN,µmol/l,False,False
33,97360,2015-08-24,s_kreatinin,77.80,NaN,µmol/l,False,False
...,...,...,...,...,...,...,...,...
22,97360,2023-03-06,CKD-EPI,0.19,NaN,"ml/s/1,73 m2",False,False
63,97360,2023-03-06,UACR,529.60,NaN,g/mol,False,False
53,97360,2023-03-06,s_kreatinin,448.00,NaN,µmol/l,False,False
54,97360,2023-06-26,s_kreatinin,587.40,NaN,µmol/l,False,False
23,97360,2023-06-26,CKD-EPI,0.14,NaN,"ml/s/1,73 m2",False,False